<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <nav class="shadow-lg px-3 py-2.5">
        <div class="container flex flex-wrap justify-between mx-auto">
            <a class="flex items-center" href="/rooms">
                <img class="h-16 mr-3"
                    src="https://cdn4.iconfinder.com/data/icons/essentials-73/24/001_-_Envelope-256.png" alt="">
                <span class="self-center text-4xl font-semibold">Real Chat</span>
            </a>

            <div class="w block w-auto">
                {% if user.is_authenticated %}
                <ul class="flex flex-row p-4 mt-4 border rounded-lg border-grey-100 bg-blue-50">
                    <li><a class="block py-2 pl-3 pr-4 rounded bg-blue-500 text-white" href="/rooms/">Rooms </a></li>
                    <li><a class="block py-2 pl-3 pr-4 rounded bg-red-600 text-black" href="{% url 'logout' %}">Logout
                        </a></li>
                    <li>Welcome {{user}}</li>
                </ul>
                {% else %}
                <ul class="flex flex-row p-4 mt-4 border rounded-lg border-grey-100 bg-blue-50">
                    <li><a class="block py-2 pl-3 pr-4 rounded bg-blue-500 text-white" href="/rooms/">Rooms </a></li>
                    <li><a class="block py-2 pl-3 pr-4 rounded bg-green-700 text-white"
                            href="{% url 'logout' %}">Login</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

</body>

</html>